[submodule "_zbin"]
	path = _zbin
	url = https://github.com/rupa/z.git
[submodule "_bash_it"]
	path = _bash_it
	url = git@github.com:wfscheper/bash-it
	branch = ratlaw
[submodule "_pyenv"]
	path = _pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "_vim/bundle/neobundle.vim"]
	path = _vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
