[submodule "_oh-my-fish"]
	path = _oh-my-fish
	url = git@github.com:wfscheper/oh-my-fish.git
	branch = ratlaw
[submodule "_zbin"]
	path = _zbin
	url = https://github.com/rupa/z.git
[submodule "_bash_it"]
	path = _bash_it
	url = git@github.com:wfscheper/bash-it
	branch = ratlaw
